@import '@styles/base';

.formContent {
    display: flex;
    flex-direction: column;
    padding: 30px 90px;

    .title {
        font-size: 40px;
        font-weight: 600;
        color: $color-black;
    }
    .message {
        font-size: 15px;
        margin-top: 10px;
        font-weight: 600;
        color: #C5C4C8;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        color: $color-black;

        label {
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .error {
            font-size: 15px;
            font-weight: 500;
            color: red;
        }

        input {
            height: 30px;
            border: 3px solid #C5C4C8;
            border-radius: 5px;
            margin-bottom: 30px;
        }

    }

    .next {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        margin-top: 40px;

        button {
            height: 40px;
            width: 100px;
            background-color: rgb(33, 33, 112);
            font-size: 13px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    }
}